body {
  color: white;
  padding: 0;
  margin: 0;
  background: black;
  font-family: 'Montserrat', sans-serif;
}

.background {
  background: url('images/hghask-ekorb-99323-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pink {
  background:#AD6968;
  margin: 40px auto;
  width: 800px;
  height: 90%;
}

header {
  text-align: center;
  padding: 50px 0 30px 0;
}

h1 {
  font-size: 60px;
  margin: 0px 0 10px 0;
}

main {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardwithbuttons {
  display: flex;
  justify-content: space-between;
}

.arrow {
  background: #AD6968;
  border: none;
  color: white;
  font-size: 80px;
  margin: auto 10px;
  cursor: pointer;
}

.card {
  height: 280px;
  width: 550px;
  background: white;
  margin: 0px 0 10px 0;
  color: black;
  padding: 0 0;
}

h2 {
  font-size: 100px;
  text-align: center;
}

h3 {
  font-size: 40px;
  padding: 0;
  margin: 0;
}

.submission {
  margin: 10px 0 20px 0;
}

.

.input {
  width: 400px;
}

.hint {
  width: 100px;
}