body {
  color: black;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.background {
  background: url('images/kazuend-32605-unsplash-ConvertImage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

aside {
  width: 30px;
  position: absolute;
  left: 0;
  padding: 10px 0 0 10px;
  color: white;
  border: 0;
  transition: width .3s;
}

aside h2 {
  margin: 0px 5px 0 0;
  font-size: 20px;
  writing-mode: vertical-rl;
  position: relative;
  float: right;
}

.aside-text {
  font-size: 13px;
  line-height: 18px;
  display: none;
}

aside p {
  margin: 0;
}

aside ol {
  margin: 0 0 0 15px;
  padding: 0;
}

aside div {
  display: none;
}

aside div h3 {
  font-size: 16px;
  margin: 0;
}

aside div h3 ul {
  padding: 0;
  margin: 5px 40px 10px 0;
  font-weight: 100;
  font-size: 14px;
}

.show {
  display: block;
}

aside.show {
  width: 300px
}

br {
  line-height: 30px;
}

.instructions {
  background:#721633;
  top: 11%;
  height: 23%;
}

.shortcuts {
  background: #953453;
  top: 35.3%;
  height: 23%
}

.score {
  background: #B95D7A;
  top: 59.5%;
  height: 30%
}

.pink {
  background: rgba(238, 197, 210, 0.92);
  margin: 60px auto 0px auto;
  max-width: 600px;
  height: 600px;
  border-radius: 4%;
}

span {
  color:red;
  font-weight: 900;
}

header {
  text-align: center;
  padding: 30px 0 30px 0;
}

h1 {
  font-size: 60px;
  margin: 0;
}

main {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-and-buttons {
  display: flex;
  justify-content: space-between;
}

.arrow {
  background: none;
  border: none;
  color: #332E2E;
  font-size: 80px;
  margin: auto 10px;
  cursor: pointer;
}

.right {
  transform: rotate(180deg)
}

.card {
  height: 200px;
  width: 400px;
  background: white;
  background-size: cover;
  margin: 0px 0 10px 0;
  color: black;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.handwritten {
  font-family: 'Nanum Pen Script', cursive;
}

.shadow {
  box-shadow: 10px 10px 8px #726868;
}

.line {
  height: 50px;
  width: 400px;
  background: black;
  border: 0
}

.display {
  font-size: 100px;
  font-weight: 700;
}

.result {
  font-size: 40px;
  padding: 0;
  margin: 15px 0 0 ;
  text-align: center;
  display: none;
}

.game-end {
  font-size: 25px;
  padding: 0;
  display: none;
  margin: 0 auto;
  width: 420px;
  text-align: center;
}

.hint-text {
  margin: 20px 0 0 0;
  padding: 0;
  font-style: italic;
  font-size: 20px;
  max-width: 420px;
  text-align: center;
}

.submission {
  margin: 20px 0 20px 0;
}

.input {
  width: 290px;
  height: 30px;
  border: none;
  font-size: 18px;
  padding: 0 0 0 5px;
}

.button {
  border: none;
  text-align: center;
  height: 30px;
  margin: 0;
  font-size: 18px;
  border-radius: 3px;
}

.flip {
  width: 97px;
}

.button.hint {
  width: 190px;
  margin: 0 5px;
}

.button.shuffle {
  width: 190px;
  margin: 0 5px;
}

/* When I have time, start working on a media query to make this mobile friendly:
Eliminate the shortcuts bar
Resize the Instructions div and move it to the top of the page
Resize the Score div and move it to the bottom of the page
Change both animations and listeners for the above
Resize the main boxes
Use smaller font sizes on everything 
Also figure out why input and flip button are off by like 1 pixel */

@media only screen and (max-width: 768px) {
  .shortcuts {
    display: none;
  }

  aside {
    width: 100%;
    position: static;
    padding: 10px 0 0 10px;
    color: white;
    border: 0;
  }

  .instructions {
    top: 0;
    height: 127px;
  }

  .aside-text {
    display: block;
  }
  
  aside.show {
    width: 100%
  }

  aside div {
    display: block;
    height: 100%;
  }
  
  .score {
    background: #B95D7A;
    height: 180px;
    margin-top: 55px;
  }

  .pink {
    margin: 20px auto 0 auto;
    padding: 0;
    height: 330px;
    width: 350px;
  }
  
  aside h2 {
    margin: 0 0 7px 0;
    font-size: 20px;
    writing-mode: horizontal-tb;
    position: static;
    float: none;
  }

  h1 {
    font-size: 30px;
  }
  
  header {
    padding: 5px 0 5px 0;
  }

  .card {
    height: 100px;
    width: 200px;
  }

  .arrow {
    font-size: 50px;
  }

  .display {
    font-size: 80px;
  }

  .input {
    width: 195px;
    font-size: 16px;
    margin: 0 auto;
    height: 25px;
  }

  .button.flip {
    width: 110px;
    margin-top: 10px;
  }

  .button {
    border: none;
    text-align: center;
    height: 25px;
    margin: 5px auto;
    font-size: 16px;
    border-radius: 4px;
  }
  
  .submission {
    text-align: center;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
  }

  .hint-and-shuffle {
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: row;
  }

  .button.hint {
    margin: 0;
    width: 110px
  }
  
  .button.shuffle {
    margin-left: 7px;
    width: 110px;
  }

  .result {
    font-size: 16px;
    margin: 5px 0 0 0;
  }

  .results {
    font-size: 16px;
    margin: 5px 0 0 0;
  }

  .hint-text {
    font-size: 16px;
    margin: 5px 0 0 0;
  }

  .game-end {
    font-size: 16px;
    width: 250px;
    padding: 0;
    margin-top: 5px
  }

  .result {
    font-size: 20px;
    padding: 0;
    margin: 5px 0 0 ;
    text-align: center;
    display: none;
  }
}
